            {{#ifEquals pricingType 'external'}}
                <div class="row cc_qty_control_row">
                    {{#if primaryAttr}}
                    <div class="col-md-12">
                        {{else}}
                        <div class="col-md-3 col-md-offset-9">
                            {{/if}}
                            <div class="form-group">
                                <p class="cc_order_quantity">
                                    <span class="cc_quantity_label">{{pageLabelMap 'CartInc_Qty'}}&#58;&#160;</span>
                                    <span class="cc_quantity">{{quantity}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
            {{else}}
            {{#ifNotEquals pricingType "attrGroup" }}
                {{#if qtySkipIncrement}}
                    <div class="row cc_qty_control_row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group cc_input_group">
                                            <span class="input-group-btn cc_input_group_btn">
                                                <input type="button" value="{{pageLabelMap 'Prod_QtyDecrFF'}}" class="btn btn-default btn-sm minusFF cc_minusff">
                                                <input type="button" value="{{pageLabelMap 'Prod_QtyDecrSingle'}}" class="btn btn-default btn-sm minus cc_minus">
                                            </span>
                                    <input id="entry_{{sfid}}" type="text" readonly="true" name="qty" value="{{quantity}}" class="input-text entry plus_minus form-control input-sm cc_entry" maxlength="7" />
                                    <span class="input-group-btn cc_input_group_btn">
                                                <input type="button" value="{{pageLabelMap 'Prod_QtyIncrSingle'}}" class="btn btn-default btn-sm plus cc_plus">
                                                <input type="button" value="{{pageLabelMap 'Prod_QtyIncrFF'}}" class="btn btn-default btn-sm plusFF cc_plusff">
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                {{#ifEquals qtyIncrement 1}}
                    <div class="row cc_qty_control_row">
                    {{#if primaryAttr}}
                        <div class="col-md-12">
                    {{else}}
                        <div class="col-md-8 col-md-offset-8">
                    {{/if}}
                            <div class="form-group">
                                <div class="input-group cc_input_group">
                                        <span class="input-group-btn cc_input_group_btn">
                                            <input type="button" value="{{pageLabelMap 'Prod_QtyDecrSingle'}}" class="btn btn-default btn-sm minus cc_minus">
                                        </span>
                                    <input id="entry_{{sfid}}" type="text" name="qty" value="{{quantity}}" class="input-text entry plus_minus form-control input-sm cc_entry cartQty" maxlength="7" />
                                    <span class="input-group-btn cc_input_group_btn floatLeftClass">
                                            <input type="button" value="{{pageLabelMap 'Prod_QtyIncrSingle'}}" class="btn btn-default btn-sm plus cc_plus">
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/ifEquals}}
                    <input type="hidden" name="qtyIncrement" value="{{qtyIncrement}}" class="item_qtyIncrement" />
                    <input type="hidden" name="qtySkipIncrement" value="{{qtySkipIncrement}}" class="item_qtySkipIncrement" />
                    {{else}}
                    {{#ifEquals pricingType 'attrGroup'}}
                    <div class="row cc_qty_control_row">
                        <div class="col-md-3 col-md-offset-9">
                            <div class="form-group">
                                <p class="cc_order_quantity">
                                    <span class="cc_quantity_label">{{pageLabelMap 'CartInc_Qty'}}&#58;&#160;</span>
                                    <span class="cc_quantity">{{quantity}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/ifEquals}}
                {{/ifNotEquals}}
            {{/ifEquals}}
